
.print_header{
    display: none;
}

@media print{
     .filter{
        display: none !important;
     }
     .print_header{
        display: block !important;
    }
    .line-height1{
        line-height: 1.2;
    }
}