.containerEstimate {
    max-width: 370mm !important;
    font-family: Calibri;
}

.containerEstimate *{
    font-size: 14px;
}

.mainDetailEstimate {
    min-width: 100px;
}

.srNoEstimatePrint {
    /* width: 25px;
    min-width: 25px; */
    width: 2%;
    min-width: 2%;
}

.designEstimatePrint {
    /* width: 110px;
    min-width: 110px; */
    width: 10%;
    min-width: 10%;
}

.diamondEstimatePrint,
.stoneEstimatePrint {
    /* width: 269.5px;
    min-width: 269.5px; */
    width: 24%;
    min-width: 24%;
}


.metalEstimatePrint {
    /* width: 205px;
    min-width: 205px; */
    width: 21%;
    min-width: 21%;
}


.totalAmountEstimatePrint {
    /* width: 60px;
    min-width: 60px; */
    width: 6%;
    min-width: 6%;
}

.OtherAmountEstimatePrint{
    width: 5%;
    min-width: 5%;
}

.labourEstimatePrint {
    /* width: 90px;
    min-width: 90px; */
    width: 8%;
    min-width: 8%;
}


.estimatePrintFont_14{
    font-size: 14px
}


.recordEstimatePrint * {
    font-size: 10px;
    /* word-break: normal; */
    word-break: break-all;
    line-height: 120%;
}

.recordEstimatePrintHead * {
    font-size: 11px;
    /* word-break: normal; */
    word-break: break-all;
    line-height: 120%;
}

.width20EstimatePrint {
    width: 14.67%;
    min-width: 14.67%;
}

.width200EstimatePrint {
    width: 20%;
    min-width: 20%;
}

.totalBgEstimatePrint {
    background: #f5f5f5;
}

.height_48_estimatePrint {
    height: 48px;
}

.height_20_estimatePrint{
    height: 20px;
}

.width_38_estimatePrint {
    width: 38px;
}
.totalEstimatePrint {
    /* width: 135px;
    min-width: 135px; */
    width: 12%;
    min-width: 12%;
}

.summaryEstimateprint {
    width: 332px;
    min-width: 332px;
}

.diamondDetailEstimateprint {
    width: 170px;
    min-width: 170px;
}

.otherDetailEstimateprint {
    width: 150px;
    min-width: 150px;
}

.blankDetailEstimatePrint {
    width: 210px;
    min-width: 210px;
}

.createdByEstimatePrint {
    width: 243px;
    min-width: 243px;
}

.height3remEstimatePrint {
    height: calc(100% + 3rem) !important;
}

.min_height_24_estimatePrint{
    min-height: 15px;
}

.min_height_100EstimatePrint{
    min-height: 117px;
}

.height_30_estimatePrint{
    height: 30px;
}

.pad_bot_30_estimatePrint{
    padding-bottom: 30px;
}

.pad_bot_25_estimatePrint{
    padding-bottom: 25px;
}

.pad_bot_29_estimatePrint{
    padding-bottom: 21.5px;
}

.pad_bot_18_estimatePrint {
    padding-bottom: 18px;
}

.height_18_estimatePrint {
    height: 18px;
}

.heiht_18_8_estimatePrint{
    height: 18.8px;
}

.height_19_estimatePrint {
    height: 19px;
}

.height_28_5_estimatePrint {
    min-height: 14.5px;
}
.height_29_5_estimatePrint {
    height: 14.5px;
}

.width_40_estimatePrint{
    min-width: 16.66%;
    width: 16.66%;
}

.width_45_estimatePrint{
    min-width: 45px;
    width: 45px;
}

.pad_bot_40_estimatePrint{
    padding-bottom: 40px ;
}

.p_1Estimate{
    padding: 1px;
}

.estimate_img{
    max-height: 50px;
    object-fit: contain;
    object-position: left;
    margin-left: 5px;
}

.word_break_estimatePrint *{
    word-break: break-all;
}

.spBold{
    font-weight: bold;
}

.spbrWord {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.spWdthLst {
    width: 50%;
}

.border_color_estimate{
    border: 1px solid #BDBDBD !important; 
}

.spBrdrTop {
    border-top: 1px solid #BDBDBD;
}
.spBrdrBtom {
    border-bottom: 1px solid #BDBDBD;
}
.spBrdrRigt {
    border-right: 1px solid #BDBDBD;
}
.spBrdrLft {
    border-left: 1px solid #BDBDBD;
}

.spBrdrTopBlk {
    border-top: 1px solid #000;
}
.spBrdrBtomBlk {
    border-bottom: 1px solid #000;
}
.spBrdrRigtBlk {
    border-right: 1px solid #000;
}
.spBrdrLftBlk {
    border-left: 1px solid #000;
}
.spSpceBtom {
    padding-bottom: 2px;
    padding-top: 2px;
}

@media print {
    @page {
        margin: 15px 10px;
    }
    .recordEstimatePrint {
        page-break-inside: avoid;
    }
    .print_sec_sum4 {
        display: none !important;
    }
    .spBold{
        font-weight: bold;
    }
    .min_height_100EstimatePrint{
        min-height: 110px;
    }
    .estimatePrintFont_14{
        font-size: 10px
    }
    .containerEstimate *{
        font-size: 10px;
    }
    .recordEstimatePrint * {
        font-size: 7px;
        line-height: 100%;
    }
    .recordEstimatePrintHead * {
        font-size: 7px;
        line-height: 100%;
    }
}