.container {
  height: -webkit-fill-available;
  width: 100% !important;
  width: 61.083vw !important;
  box-sizing: border-box;
  padding: 10px;
  margin: 1rem auto;
  letter-spacing: 0.2px;
  font-family: Calibri, sans-serif !important;
  flex-wrap: wrap;
  gap: 10px 15px;
}

.MrgnSpac {
  margin-bottom: 4.5rem;
}

.disflx {
  display: flex;
}

.disflxCen {
  display: flex;
  justify-content: space-between;
}

.spfntbH {
  font-size: 12px;
  line-height: 13px;
}

.spfntHead {
  font-size: 13px;
  line-height: 14px;
}

.col1 {
  flex: 0 0 calc(20% - 12px);
  /* 5 items per row */
  box-sizing: border-box;
  /* min-height: 260px; */
}

.spaclftTpm {
  padding-left: 3px;
  padding-top: 3px;
}

.spfntlft {
  text-align: left;
}

.spacBtom {
  padding-bottom: 3px;
}

.spacrighTpm {
  padding-right: 3px;
  text-align: right;
}

.spbrWord {
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.imgwdtheit {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5px 10px;
}

.imgwdtheit img {
  max-width: 100%;
  max-height: 100%;
}

.wdth_50 {
  width: 50%;
}

.wdth_55 {
  width: 55%;
}

.wdth_45 {
  width: 45%;
}

.spfntBld {
  font-weight: bold;
}

.spbrRht {
  border-right: 1px solid #DDDDDD;
}

.spbrlFt {
  border-left: 1px solid #DDDDDD;
}

.brBtom {
  border-bottom: 1px solid #DDDDDD;
}

.brTpm {
  border-top: 1px solid #DDDDDD;
}

.brbxAll {
  border: 1px solid #DDDDDD;
}

.prnt_btn {
  padding-top: 10px;
  padding-right: 20px;
  justify-content: end;
}

.minheit{
  height: 21px;
}


/** Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 1rem 0;
  flex-wrap: wrap;
  font-family: "Segoe UI", sans-serif;
}

.pagination button {
  padding: 3px 12px;
  font-size: 14px;
  background-color: #f1f5f9;
  border: none;
  border-radius: 999px;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.pagination button:hover {
  background-color: #dbeafe; /* Light blue */
  color: #1e3a8a; /* Darker blue */
}

.pagination button.active {
  background-color: #2563eb; /* Blue */
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.pagination button:disabled {
  background-color: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
  box-shadow: none;
}




@media print {
  @page {
    size: A4;
    margin: 5px;
    margin-top: 35px;
    /* margin-left: 35px; */
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .container {
    width: 100% !important;
    max-width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
    padding: 0 !important;
    margin: 0 auto !important;
    box-sizing: border-box;
    gap: 10px 10px;
  }

  .MrgnSpac {
    margin-bottom: 0rem;
  }

  .col1 {
    flex: 0 0 18.50%;
    max-width: 18.50%;
    box-sizing: border-box;
  }

  .fil_sec{
    display: none;
  }

  .imgwdtheit {
    width: 130px;
    height: 130px;
    padding: 5px 10px;
  }

  .imgwdtheit img {
    max-width: 100%;
    max-height: 100%;
  }

  .spaclftTpm {
    padding-left: 2px;
    padding-top: 2px;
  }

  .spacrighTpm {
    padding-right: 2px;
  }

  .spacBtom {
    padding-bottom: 2px;
  }

  .prnt_btn {
    display: none;
  }

  .spfntbH {
    font-size: 9px;
    line-height: 10px;
  }

  .spfntHead {
    font-size: 10px;
    line-height: 11px;
  }

  .pagBrkIns {
    page-break-inside: avoid;
  }

  .minheit{
    height: 16.2px;
  }
}