.invoice-container {
  width: 10cm;
  height: 5cm;
  padding: 5px;
  padding-bottom: 1px;
  font-family: Arial, sans-serif;
  border: 4px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    // min-height: 2.5cm;
    // max-height: 2.5cm;

    .party0{
      width: 16%;

      .logo {
        width: 50px;  
        margin-top: 12px;
      }
    }

    .party1 {
      display: flex;
      width: 42%;

      .address-block {
        width: 100%;
        font-size: 9px;
        line-height: 1.4;

        strong {
          display: block;
          font-size: 8px;
          margin-bottom: 4px;
        }
        div {
          font-size: 7px;
        }
      }
    }

    .party2 {
      display: flex;
      width: 42%;

      .address-block {
        width: 100%;
        font-size: 9px;
        line-height: 1.4;
        

        strong {
          display: block;
          margin-bottom: 4px;
          font-size: 8px;
        }
        div {
          font-size: 7px;
          padding: 0px 5px;

          div{
            padding: 0px;
          }
        }
      }
    }
  }

  .divider {
    border: none;
    border-top: 2px solid #000;
    margin: 4px 0;
  }

  .mid-section {
    display: flex;
    padding: 0px 5px;
    // min-height: 1.5cm;
    // max-height: 1.5cm;

    .secondOPart1 {
      width: 40%;
      display: flex;
      flex-direction: column;
      font-size: 6.5px;
    }

    .secondOPart2 {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
    }

    .secondOPart3 {
      width: 33.33%;
      margin-top: 9px;
      margin-right: -15px;
      margin-left: 35px;
      justify-content: center;
      align-items: center;

      p {
        font-size: 5px;
        font-weight: 600;
        margin-top: 4px !important;
      }
    }
  }
  .spFntclr{
    color: #555555;
  }

  // .footer {
  //   margin-top: 10px;
  //   font-size: 9px;

  //   h4 {
  //     margin: 0 0 0px 60px !important;
  //     font-size: 8px;
  //     font-weight: 600;
  //   }

  //   p {
  //     margin: 0 0 15px 60px !important;
  //     font-size: 8px;
  //   }

  //   ul {
  //     padding-left: 24px;
  //     margin: 0 0 16px;

  //     li {
  //       margin-bottom: 6px;
  //     }
  //   }

  //   .footer-qr {
  //     display: flex;
  //     align-items: center;
  //     flex-direction: column;

  //     .small-qr {
  //       width: 100px;
  //       height: 100px;
  //     }

  //     .download-text {
  //       font-size: 6px;
  //       line-height: 0.8;
  //     }
  //   }
  // }
}

// .customList {
//   list-style: none;
//   padding-left: 0;
// }

// .customList li::before {
//   content: "•"; /* or a Unicode icon / FontAwesome glyph */
//   margin-right: 0.5em;
//   font-weight: bold;
//   color: #333; /* any color you like */
// }
.header1_lines__ElifE div {
  line-height: 1.2 !important;
}
.spbrWord {
  overflow-wrap: break-word;
  word-break: keep-all;
}
.spFntst{
  font-weight: bold;
  font-size: 7.5px;
}
.brBtom{
  border-bottom: 1px solid #000000;
}
.brRight{
  border-right: 1px solid #000000;
}
.brtop{
  border-top: 1px solid #000000;
}
.spPadg{
  padding-left: 5px;
}
.spMgl{
  margin-left: 5px;
}
.spMgT{
  margin-top: 1px;
}
.spBold{
  font-weight: bold;
}

.wordwarper div{
  white-space: normal;
  word-break: normal;         
  overflow-wrap: break-word; 
}

.wordwarper,
.wordwarper * {
  white-space: normal !important;
  word-break: normal !important;         
  overflow-wrap: break-word !important; 
}


@media print {
  .hidedp10{
    display: none;
  }
  .pmb2{
    margin-bottom: 2px;
  }
}